{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form action="" method="POST">
            {% csrf_token %}
             <fieldset>
                <legend class="border-bottom md-5">
                    Join Today
                </legend>
                <div class="form-group">
                    {{ form|crispy }}
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-info"> Login </button>
                <a class="ml-1" href="{% url 'password_reset' %}"> Forgot Password </a>
            </div>
        </form>
        <div class="border-top pt-2">
            <small class="text-muted"> Need an account? <a class="ml-1" href="{% url 'user-registration'%}"> Sign up </a> </small>
        </div>
    </div>

{% endblock content%}